<style type="text/css">
    a, a:visited {color: #28a8a5;}
    .pagination a {color: #f57e20;}
    .gist .gist-file .gist-meta a:visited {color: #28a8a5 !important;}
    a:focus, a:hover {color: #f57e20;}
    h1.post-title a:focus, h1.post-title a:hover, h1.blog-title a:focus, h1.blog-title a:hover {color: #28a8a5;}
    .older-posts:hover, .newer-posts:hover {color: #28a8a5;}

    body { color: #214e59; }
    h1.blog-title a {
        color: #545554;
    }
    h1.post-title a {
        color: #214e59;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #27727f;
    }
    .evove {
        color: #545554;
    }
    a:hover .evove {
        color: #f57e20;
    }
    .dot,
    sub {
        color: #f57e20;
    }
    a:hover .dot {
        color: #545554;
    }
    .tech {
        color: #27727f;
    }
    a:hover .tech {
        color: #28a8a5;
    }
</style>